<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
          xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>

        <ui:composition template="./../WEB-INF/template.xhtml">

            <ui:define name="content">
                <h1>Movie Sales</h1>
                <h:form>
                    <h:dataTable value="#{salesBean.salesData}" var="s" border="1">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Show ID" />
                            </f:facet>
                            #{s.id}
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Sales" />
                            </f:facet>
                            #{s.amount}
                        </h:column>
                    </h:dataTable>
                    <h:commandButton value="Run Job" action="sales"  actionListener="#{salesBean.runJob()}"/>
                    <h:commandButton value="Refresh" action="sales" />
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
